@import url(https://fonts.googleapis.com/css?family=Roboto:300);
:root {
  --bg-color: #cfd8dc;
  --text-color: #212121;
  --tooltip-shadow:grey;
  --success-color: #4CAF50;
  --success-hover-color: #43A047;
  --info-color: #101A57;
  --clear-color: #FFFFFF;
  --input-clear-color: #f2f2f2;
  --main-background-color: #76b852;
  --neutral-color: #b3b3b3;
  --main-font: "Roboto", sans-serif;
  --shadow-container: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  --container-with: 360px;
}
/* new code */

.btn{
  font-family: var(--main-font);
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  color: var(--clear-color);
  font-size: 14px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-action:hover, .btn-action:focus, .btn-action:active{
  background: var(--success-hover-color);
}

.btn-success{
  background-color: var(--success-color);
}

.btn-info{
  background-color: var(--info-color);
}

.card{
  position: relative;
  z-index: 1;
  max-width: max-content;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: var(--shadow-container);
}

.card-clear {
background: var(--clear-color);
}

.input{
  font-family: var(--main-font);
  outline: 0;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.input-clear{
  background: var(--input-clear-color);
}

.page {
  padding: 8% 0 0;
  margin: auto;
}

.page-login {
  width: var(--container-with);
}

.message{
  margin: 15px 0 0;
  font-size: 12px;
}

.message-neutral{
  color: var(--neutral-color);  
}

.link{
  text-decoration: none;
}

.link-successful{
  color: var(--success-color);
}

.form{
  /* some attributes */
}

.form-register{
  display: none;
}

.form-login{
  /* some attributes */
}

.body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

.body-main{
  background: var(--main-background-color);
}
